.box-padding {
  /* padding: 2%; */
}
.overlay {
  width: 100%;
  flex-basis: 50%;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  position: static;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 30px;
}
.overlay:focus {
  border: 3px solid #00c;
  border-radius: 5px;
  box-shadow: 0 0 0 3px #fff;
  outline: 0;
}
.darkOverlay .headingCard {
  padding: 6px 26px;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.429;
    /* z-index: 999; */
    margin-bottom: 7.714em;
    color: white;
    width: 20vw;
    /* top: 0%; */
    bottom: 0;
}
.imgInnerContent {
  max-height: 0;
  height: 100%;
  margin: 0;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
  /* opacity: 0; */
  /* padding-right: 20px; */
}
.imgInnerContent:hover {
  max-height: 100px;
  margin-bottom: 0.9375em;
  opacity: 1;
  animation: animatePara 1s;

  /* transform: translateX(0); */
}
.overlayImg {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  /* padding-top: 56.25%; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.darkOverlay:hover {
  background: rgba(13, 39, 77, 0.9);
}
.darkOverlay {
  position: absolute;
  /* bottom: 0; */
  /* padding: 45px 20px 5px; */
  /* top: 0; */
  background-image: linear-gradient(
    to bottom,
    rgba(249, 243, 243, 0) 26%,
    rgba(22, 20, 20, 0.27) 78%,
    #000 95%,
    #000 95%
  );
}
.overlayImg:hover {
  transform: translateX(-30px);
  transition: all 0.4s linear;
  /* animation: animateImage 1s alternate infinite; */
}
@keyframes animateImage {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}
.overlayImgClass {
  width: 100%;
  transform: translateX(0) scale(1.2);
  transition: all 0.4s linear;
}
.cardContent .overlay .overlayImg {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardContent .overlay:focus .overlayImg::before {
  background: rgba(13, 39, 77, 0.9);
  width: 15vw;
}
.cardContent .overlay .overlayImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 39, 77, 0.9);
  
  mix-blend-mode: multiply;
  transition: 0.5s;
  opacity: 0;
}
/* .cardContent .overlay:focus .overlayImg::before {
  background: rgba(13, 39, 77, 0.9);
} */
.cardContent .overlay:hover .overlayImg::before {
  opacity: 1;
  border-radius: 30px;
}
.cardContent .overlay:hover .imgInnerContent {
  position: absolute;
  transition-delay: 0.3s;
  /* display: flex; */
  flex-direction: column;
  opacity: 1;
  animation: animatePara 1s;

}
.cardContent .overlay .imgInnerContent p {
  text-transform: uppercase;
  transform: translateY(200px);
  font-size: 20px;
  opacity: 0;
}
.cardContent .overlay:hover .imgInnerContent p {
  /* transform: translateY(0); */
  transition-delay: 0.3s;
  color: white;
  opacity: 1;
  position: absolute;
  top: -65px;
  width: 18vw;
  padding-left: 10px;
  /* animation: animatePara 1s; */

}
@keyframes animatePara {
  0% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(30%);
  }
}
.commonCardStyle {
  font-weight: 400;
  color: white;
  font-size: 25px;
  transition: 0.8s;
}
.overlayImg .commonCardStyle:hover {
  display: block;
  transform: translate(10px, 10px);
}
.overlayImg .hoverEffectTest:hover {
  display: block;
}
.hoverEffectTest {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.8s;
  padding: 15% 0 0 5%;
  color: white;
  font-weight: 100;
  font-size: 25px;
}
.column_first {
  background: #0d274d;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
  height: 100%;
  color: white;
}
.image_wire {
  height: 100%;
  width: 100%;
}
.card_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 24px 0 35px 44px;
}
.card_heading {
  font-family: "Roboto";
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  padding-left: 6%;
  line-height: 35px;
  color: #ffffff;
}
.card_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 5% 14% 0px 5.5%;
  color: #ffffff;
}
.hoverEffect:hover {
  cursor: pointer;
  animation: animate 1s;
}
@keyframes animate {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.card_back_img {
  border-radius: 0px;
  background-repeat: no-repeat;
}
.technologiesPage .marginTop {
  margin-top: 45px;
}
.bck1:hover + .text + .para {
  display: block;
}
.hoverImg:hover {
  animation: animate 1s;
}
@keyframes animate {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.imageRight {
  width: 112%;
  height: 99%;
}
.imageLeft {
  padding-left: 70px;
  width: 100%;
}
.Software_Define {
  background-image: url(../../Assets/Images/Software_Define_grid.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.data-center {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/data-center.png);
  background-repeat: no-repeat;
}
.data-center:hover {
  animation: animate_common 1s;
}
@keyframes animate_common {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
}
.networking {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/networking.png);
  background-repeat: no-repeat;
}
.networking:hover {
  animation: animate_common 1s;
}
.devOps {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/devops.png);
  background-repeat: no-repeat;
}
.devOps:hover {
  animation: animate_common 1s;
}
.docker {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/Docker_img.png);
  background-repeat: no-repeat;
}
.docker:hover {
  animation: animate_common 1s;
}
.desktop {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/desktop-image.png);
  background-repeat: no-repeat;
}
.desktop:hover {
  animation: animate_common 1s;
}
.cloudComputing {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: url(../../Assets/Images/cloud_computing.png);
  background-repeat: no-repeat;
}
.cloudComputing:hover {
  animation: animate_common 1s;
}
.display {
  display: flex;
}
.card-background {
  /* background-image: url(../../Assets/card_background.jpg); */
  background-repeat: no-repeat;
}
.bgColor {
  /* background: #be6060; */
}
.cardBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.technologiesPage .cardMenu {
  box-shadow: 0 0 0 0;
}
.cardGrid .cardContent:last-child {
  padding: 7px;
}
.cardGrid .cardContent {
  /* background: #0d274d; */
  border-radius: 30px;
  margin-top: 20px;
  height: 35vh;
  width: 25.5vw;
}
.technologiesPage .boxBelow {
  margin-top: 35px;
  height: 50px;
  background: #0d274d;
  border-radius: 30px;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
/* @media only screen and (min-width: 1024px){
.imgInnerContent {
    position: absolute;
    
    background-image: linear-gradient(to bottom,rgba(249,243,243,0) 26%,rgba(22,20,20,0.27) 78%,#000 95%,#000 95%);
} */

@media screen and (min-width: 279px) and (max-width: 480px) {
  .hr {
    margin-bottom: 10px;
    width: 90% !important;
    margin: 2% !important;
  }
  .imageToResponsive {
    width: 50%;
    margin-left: 2%;
  }

  .ourClientsTitle .ourClientsIcon,
  .ourClientsTitle .ourClientsText {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
  .hr {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .hr {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1281px) {
  .hr {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .topContainer .hr {
    height: 2px;
    background-color: #0d274d;
    width: 90% !important;
    margin: 2% auto;
  }
  .ourClientsTitle {
    margin-left: 16%;
  }

  .technologiesTitle .technologiesText {
    font-weight: 800;
  }
  .grid1 {
    width: 80%;
    margin: auto;
  }
}
