/* .backgroundColor .topContainer{
  width: 90%;
} */

.backgroundColor {
  background: #f8fbff;
}

.ourClientHading {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 51px;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.6);
  padding: 3%;
}
.imageArray2 {
  margin-top: 5%;
}
.topContainer .slick-next {
  cursor: pointer;
  position: absolute;
  right: -3%;
  position: absolute;
  top: 40%;
}
.topContainer .slick-prev {
  cursor: pointer;
  left: -5%;
  position: absolute;
  top: 40%;
  z-index: 99;
}
.firstImage{
  width: 0;
}
.firstimage {
  height: 90px;
  margin-left: 15%;
}
.imageStyle {
  margin-top: 25%;
}
.secondImage {
  margin-top: 15%;
  margin-left: 13%;
}
.eightImage {
  margin-top: 23%;
}
.allCustomer {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  text-decoration-line: underline;
  color: #0d274d;
  margin-top: 6.5%;
}
.upto420{
  margin-left: 2%;
}
@media screen and(max-width: 550px) {
 .topContainer .firstimage{
    margin-left: 20%;
  }
}