.whyChooseHeading{
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    border-bottom: 4px solid #1e4471;
    width: 32%;
}
.textColorRed{
    color: rgb(219, 21, 21);
}
.backTextColor{
    background-color: #e7d1d1a6;
}