/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 480px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3%;
    text-shadow: 2px 2px black;
    font-size: 1rem;
    width: 80%;
    bottom: 45%;
  }
  .infoBlock .informationBar {
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 2%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 0.6rem;
    opacity: 1;
  }

  .carousel .control-dots {
    width: 60%;
    top: 50%;
    left: -3%;
  }
  .carousel .control-dots .dot {
    width: 20%;
    border-radius: 0;
    height: 4px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3%;
    text-shadow: 2px 2px black;
    font-size: 1.5rem;
    width: 90%;
    bottom: 45%;
  }
  .infoBlock .informationBar {
    width: 95%;
    height: 60px;
    position: absolute;
    bottom: 10%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 3% 1% 2%;
    font-size: 1rem;
    opacity: 1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .infoBlock .informationBar {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 12%;
  }
  .informationBar .informationMsgContainer {
    width: 90%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
    opacity: 0.8;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 1rem;
    opacity: 1;
  }
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3%;
    text-shadow: 2px 2px black;
    font-size: 2rem !important;
    width: 95%;
    bottom: 40%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3%;
    text-shadow: 2px 2px black;
    font-size: 3rem !important;
    width: 80%;
    bottom: 40%;
  }
  .infoBlock .informationBar {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 12%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1920px) {
  .sliderInformationBarTitle {
    color: #ffffff;
    padding: 3%;
    text-shadow: 2px 2px black;
    width: 90%;
    bottom: 40%;
    font-size: 3rem !important;
  }
  .infoBlock .informationBar {
    width: 90%;
    height: 60px;
    position: absolute;
    bottom: 20%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 100px 100px 0;
  }
  .informationMsgContainer .informationMSG {
    color: #ffffff !important;
    padding: 1% 2%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1921px) {
  .sliderInformationBarTitle {
    margin-bottom: 2%;
    font-size: 3rem !important;
    padding: 3%;
    width: 80%;
    bottom: 40%;
  }
  .infoBlock .informationBar {
    width: 90%;
    height: 210px;
    position: absolute;
    bottom: 10%;
  }
  .informationBar .informationMsgContainer {
    width: 100%;
    height: fit-content;
    color: #ffffff;
    text-shadow: 1px 1px solid black;
    border-radius: 0 150px 150px 0;
    opacity: 0.8;
  }
  .informationMSG {
    padding: 1% 2%;
    font-size: 2rem !important;
  }
}
