.containerClass{
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
}
.containerClass .slick-next{
    position: absolute;
    right: 44%;
    top: 45%;
    cursor: pointer;
}
.containerClass .slick-prev{
    position: absolute;
    left: 33%;
    z-index: 99;
    cursor: pointer;
}
.sliderPadding{
    padding: 5% 0;
}