/* 320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV */
@media screen and (min-width: 279px) and (max-width: 480px) {
  /* TODO: --Mobile responsiveness pending-- */
}

@media screen and (min-width: 481px) and (max-width: 760px) {
  /* TODO: --Mobile responsiveness pending-- */
}

/* --current laptop size--- */
@media screen and (min-width: 761px) and (max-width: 1024px) {
  .headBar {
    top: 9%;
    height: 40px;
  }

  .subMenuBar > .subMenuTabContainer {
    padding: 3px;
    min-height: 40px;
  }

  .subMenuTabContainer > div > div {
    justify-content: space-around;
  }

  .sub_navbar_text {
    min-width: 10% !important;
    max-width: 14% !important;
    padding: 3px;
    min-height: 35px !important;
    max-height: 40px !important;
    height: 35px;
  }

  .sub_navbar_text span {
    font-size: 0.6rem;
    min-width: 70%;
    max-width: 90%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .headBar {
    top: 10%;
    height: 56px;
    padding: 5px 0;
  }

  .subMenuBar > .subMenuTabContainer {
    padding: 3px;
    min-height: 50px;
  }

  .subMenuTabContainer > div > div {
    justify-content: space-around;
  }

  .sub_navbar_text {
    min-width: 10% !important;
    max-width: 14% !important;
    padding: 3px;
    min-height: 40px !important;
    max-height: 50px !important;
    height: 40px;
  }

  .sub_navbar_text span {
    font-size: 0.7rem;
    min-width: 70%;
    max-width: 100%;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1920px) {
  .headBar {
    top: 8%;
    height: 56px;
    padding: 5px 0;
  }

  .subMenuBar > .subMenuTabContainer {
    padding: 3px;
    min-height: 50px;
  }

  .subMenuTabContainer > div > div {
    justify-content: space-around;
  }

  .sub_navbar_text {
    min-width: 10% !important;
    max-width: 14% !important;
    padding: 3px;
    min-height: 40px !important;
    max-height: 50px !important;
    height: 40px;
  }

  .sub_navbar_text span {
    font-size: 0.8rem;
    min-width: 70%;
    max-width: 90%;
  }
}

@media screen and (min-width: 1921px) {
  .headBar {
    top: 7.5%;
    height: 80px;
  }

  .subMenuBar > .subMenuTabContainer {
    padding: 6px;
    min-height: 60px;
  }

  .subMenuTabContainer > div > div {
    justify-content: space-around;
  }

  .sub_navbar_text {
    min-width: 10% !important;
    max-width: 14% !important;
    padding: 5px;
    min-height: 70px !important;
    max-height: 80px !important;
    height: 70px;
  }

  .sub_navbar_text span {
    font-size: 1rem;
    min-width: 70%;
    max-width: 90%;
  }
}
