.displayFlex {
  display: flex;
}
.commonClass {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  padding: 15px 20px 0px 20px;

  color: #000000;
}
.aboutHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  border-bottom: 4px solid #1e4471;
  width: 32%;
}
.backgroundColorWhite {
  background-color: white;
}
